<div class="wrapper">
  <div class="mat-elevation-z8 table-container">

    <div class="table-top-controllers">
      <div class="table-name"> All Products</div>
    </div>

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium">
    </mat-form-field>

    <mat-table [dataSource]="dataSource" matSort class="table" #mytable>

      <ng-container matColumnDef="categoryName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Category </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.categoryName}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="quantityOnHand">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Quantity on Hand </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.quantityOnHand}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="flavours">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Flavours </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.flavours.length}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sizes">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Sizes </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.sizes.length}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef mat-sort-header> </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="list menu" matTooltip="Show actions">
            <mat-icon>more_horiz</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onViewProductDetails(element)">
              <mat-icon>feed</mat-icon>
              <span matTooltip="View product details">View details</span>
            </button>

            <button mat-menu-item (click)="onDeleteValue(element)">
              <mat-icon>delete_forever</mat-icon>
              <span matTooltip="delete {{element.name}}">Delete</span>
            </button>
          </mat-menu>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

      <tr class="mat-row no-data-row" *matNoDataRow>
        <h2 class="mat-cell no-data-text">No data found</h2>
      </tr>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
  </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
