<div class="loader-container">
  <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card class="card-container">

  <div class="image-container">

    <img src="assets/images/logo-placeholder.png" class="header-image">  </div>
  <div>
      <mat-card-title>Reset your password</mat-card-title>
      <mat-card-subtitle *ngIf="errorMessage == null">Enter your user account's verified email address and we will send you a password reset link.</mat-card-subtitle>
      <mat-card-subtitle *ngIf="errorMessage" class="error-text">{{errorMessage}}</mat-card-subtitle>
  </div>

  <mat-card-content>

      <form [formGroup]="forgotPasswordForm" (ngSubmit)="SendResetEmail()">
          <div class="form-field-container">
              <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Email adddress</mat-label>
                  <input type="text" matInput formControlName="Email">
                  <mat-error *ngIf="Email.touched && Email.invalid">
                      <div *ngIf="Email.errors.required">please provide your email address.</div>
                      <div *ngIf="Email.errors.email"> Please provide valid email.</div>
                  </mat-error>
              </mat-form-field>
          </div>

          <div class="bottom-controls-container">
              <button class="submit-button" type="submit" mat-button>Send password reset email</button>
          </div>
      </form>
  </mat-card-content>
</mat-card>
