<div class="loader-container">
  <mat-progress-bar *ngIf="showLoadingEndicator" mode="indeterminate"></mat-progress-bar>
</div>
<mat-card class="card-container">

  <div class="image-container">
    <img src="assets/images/logo-placeholder.png" class="header-image">  </div>

  <div>
      <mat-card-title>Change password</mat-card-title>
      <mat-card-subtitle *ngIf="errorMessage">{{errorMessage}}</mat-card-subtitle>
  </div>

  <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="ResetPassword()">
          <input type="text" formControlName="Token" hidden>
          <input type="text" formControlName="Email" hidden>
          <div class="form-field-container">
              <mat-form-field class="form-field" appearance="outline">
                  <mat-label>New Password</mat-label>
                  <input formControlName="Password" type="password" matInput>
                  <mat-error *ngIf="Password.touched && Password.invalid">
                      <div *ngIf="Password.errors.required"> Please provide password.</div>
                  </mat-error>
              </mat-form-field>
              <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Confirm new password</mat-label>
                  <input formControlName="ConfirmPassword" type="password" matInput>
                  <mat-error *ngIf="ConfirmPassword.touched && ConfirmPassword.invalid">
                      <div *ngIf="ConfirmPassword.errors.required">Please provide confirm password.</div>
                      <div *ngIf="ConfirmPassword.errors.ConfirmPassword">Passsword and ConfirmPassword didn't match.
                      </div>
                  </mat-error>
              </mat-form-field>
          </div>

          <div class="bottom-controls-container">
              <button class="submit-button" type="submit" mat-button>Reset Password</button>
          </div>
      </form>
  </mat-card-content>
</mat-card>
