@import "/src/app/@theme/generic/colors.scss";

:host {
  box-sizing: border-box;
  height: 100vh;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.router-outlet-wrapper {
  width: 100vw;
}
