@import "/src/app/@theme/generic/responsive-sizes.scss";
@import "/src/app/@theme/generic/colors.scss";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: $theme-secondary;
}

.loader-container {
  margin-left: auto;
  margin-right: auto;
}

.loadbar {
  height: 4px;
  padding-top: 0;
  margin-top: 0;
  width: 100%;
}

.card-container {
  border: 0.0625rem solid whitesmoke;
  border-radius: 0.5rem;
  width: 50%;
  height: auto;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

mat-card-title {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

mat-card-subtitle {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: red;
  font-weight: 500;
}

.image-container {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}

.header-image {
  width: 100px;
  background-size: cover;
  transform: scale(2.5);
}

.header-image:hover {
  transform: scale(3.5);
}

.form-field-container {
  display: flex;
  flex-direction: column;
}

.form-field-container-inline {
  display: flex;
  justify-content: space-between;
}

.form-field {
  flex: 1;
  margin: 0 0.5rem;
}

.form-field-inline {
  flex: 1;
  margin: 0 0.5rem;
}

.forgot-password-text {
  color: $theme-secondary;
  font-weight: 550;
  margin-top: 0px;
  flex: 1;
  cursor: pointer;
}

.form-field > mat-label {
  width: 336px;
  height: 22px;
  padding: 12px 14px 12px 14px;
  margin: 2px 2px 0 2px;
  min-width: 0px;
  min-height: auto;
}

.bottom-controls-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.signIn-button {
  background-color: $theme-secondary;
  color: #ffffff;
  // width: 100px;
  height: 36px;
  margin-left: auto;
}

.signIn-button:disabled {
  background-color: $theme-secondary;
  color: #ffffff;
}

.submit-button {
  background-color: $theme-secondary;
  color: #ffffff;
  height: 36px;
  margin-left: 0;
}

.center-notice-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.small-screen-device {
  text-align: center;
  font-style: italic;
  width: 80%;
}

@media screen and (min-width: ($max-tablet +1)) {
  .center-notice-text{
    display: none;
  }
  .small-screen-device {
    display: none;
  }
}

@media screen and (min-width: $one) and (max-width: $max-tablet) {
  .screen-control-wrapper {
    display: none;
  }
}

