$theme-primary: #393E41;
// $theme-secondary: #419496;
$theme-secondary: #757780;
$theme-secondary-2: #FFFFFC;
$theme-tertiary: #757780;
$theme-tertiary-2: #e4fde1;
$body-main-grey: #f6f7eb;
$hover-grey: #f3f2ef;

$black:#000000;
$white:#ffffff;
$hyper-text-blue:#0078d4;
