@import "/src/app/@theme/generic/colors.scss";

.wrapper {
  margin-top: 5em;
}

table {
  width: 100%;
}

.table-header-container {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $white;
}

.table-container {
  height: 400px;
  max-width: 100%;
  overflow: auto;

  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: $white;
}

.table-top-controllers {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $theme-secondary;
  color: $white;
  padding: 5px;
}

.top-table-menu {
  &:hover {
    background-color: $hover-grey;
    color: $black;
  }
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-row:hover {
  background-color: $hover-grey;
}

mat-header-cell {
  background-color: $theme-secondary;
  color: $white;
}

.table-name {
  color: $white;
}

// .mat-cell {
//   justify-content: center;
//   text-align: center !important;

//   div {
//     word-wrap: break-word !important;
//     width: 163px;
//   }
// }

// .mat-header-cell {
//   justify-content: center;
//   text-align: center !important;
// }
