<mat-card class="card-container">

  <div class="image-container">

    <img src="assets/images/logo-placeholder.png" class="header-image">
  </div>
  <div>
    <mat-card-title>Reset your password</mat-card-title>
    <mat-card-subtitle>Check your email for a link to reset your password. If it doesn’t appear within a few minutes,
      check your spam folder</mat-card-subtitle>
  </div>
  <mat-card-content>
    <div class="bottom-controls-container">
      <button class="signIn-button" type="submit" mat-button (click)="signIn()">Back to Sign In</button>
    </div>
  </mat-card-content>
</mat-card>
